<div class="modal-container">
    <div class="modal-header">
      <h2>Alterar Status da Tarefa </h2>
      <button class="close-btn" (click)="close()">&times;</button>
    </div>
    
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="currentStatus">Status da Tarefa:</label>
            <select id="currentStatus" 
                    [(ngModel)]="selectedStatus" 
                    name="currentStatus" 
                    class="form-control">
              <option *ngFor="let status of statusTarefas" 
                      [value]="status.idStatus"
                      [selected]="status.idStatus === tarefa?.idStatus">
                {{ status.descricao }}
              </option>
            </select>
          </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="close()">Cancelar</button>
          <button type="submit" class="btn btn-primary" 
                  [disabled]="!selectedStatus || selectedStatus === tarefa?.idStatus">
            Confirmar Alteração
          </button>
        </div>
      </form>
    </div>
  </div>